.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-width: 300px;
	min-height: 400px;
	padding: 20px 10px;
	margin: 10px;

	border: 5px solid lightgray;
	border-radius: 12px;
}

.board__title {
	font-size: 1.5rem;
	font-weight: 700;
}

.item-wrapper {
	width: 100%;
}

.item {
	width: 100%;
	padding: 10px;
	margin: 5px 0;

	border: 2px solid lightpink;
	border-radius: 6px;
	background-color: #fcfcf9;

	cursor: grab;
}
